<div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLinkActive="/home">WebSiteName/Logo</a>
      </div>
    </div>
  </nav>
</div>

<div cl id="wrapper">
  <app-sidebar></app-sidebar>
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
      <span class="hamb-top"></span>
      <span class="hamb-middle"></span>
      <span class="hamb-bottom"></span>
    </button>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
    <!-- /#page-content-wrapper -->
  </div>
