<div style="width: 80%">
    <h2>Product List</h2>
  <div class="row">
    <div class="col-md-7">
      <form action="" class="search-form">
        <div class="form-group has-feedback">
          <label for="search" class="sr-only">Search by product name</label>
          <input type="text" class="form-control" name="search" id="search" placeholder="search">
          <span class="glyphicon glyphicon-search form-control-feedback"></span>
        </div>
      </form>
    </div>
    <div class="col-md-5">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
          Showroom
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">Godown 1</a></li>
          <li><a href="#">Godown 2</a></li>
          <li><a href="#">Godown 3</a></li>
        </ul>
      </div>
    </div>
  </div>


  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Sl. No.</th>
          <th>Name</th>
          <th>Size/Code</th>
          <th>Quantity</th>
          <th>Price per unit</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>John Doe</td>
          <td>22</td>
          <td>1000</td>
          <td>100</td>
          <td>Edit/Remove</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
